/* I NEED THIS */

.header { 
	width: 100%;
	height: 800px;
	background-image: url(fishtable.jpg); 
	background-color: #BFC7E0;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}
/*	
background: rgb(122,188,255);
background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 54%, rgba(64,150,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(54%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); 
background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 54%,rgba(64,150,238,1) 100%); 
background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 54%,rgba(64,150,238,1) 100%); 
background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 54%,rgba(64,150,238,1) 100%); 
background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 54%,rgba(64,150,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); 
*/

.quote{
	text-align: center;
	font-size: 50px;
	padding-top: 100px;
	padding-bottom: 26px;
}

.nyctop1{
	max-width: 1024px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 45px;
	padding-top: 45px;
}

.change{
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
    text-decoration: none;
    padding-bottom: 25px;
}
.textcollege{
    font-family: 'Raleway'. sans-serif;
    font-size: 18px;

}
.listcoll{
    font-family: 'Titillium Web', sans-serif;
    padding-left: 15px;
}
.un,
.random{
	padding-top: 40px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
}
.usage{
    text-align: center;
    font-family: 'Raleway'; 
    font-size: 38px;
    color: #0074D9;
}
.green,
.angreen{
	color:green;

}
.yellow{
	color:yellow;
}

.redh{
	color:red;
}

.topdawg{
	  background: rgb(197,212,237); 
    background: -moz-linear-gradient(top, rgba(197,212,237,1) 0%, rgba(92,151,224,1) 43%, rgba(92,151,224,1) 43%, rgba(92,151,224,1) 60%, rgba(203,217,239,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,212,237,1)), color-stop(43%,rgba(92,151,224,1)), color-stop(43%,rgba(92,151,224,1)), color-stop(60%,rgba(92,151,224,1)), color-stop(100%,rgba(203,217,239,1))); 
    background: -webkit-linear-gradient(top, rgba(197,212,237,1) 0%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 60%,rgba(203,217,239,1) 100%); 
    background: -o-linear-gradient(top, rgba(197,212,237,1) 0%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 60%,rgba(203,217,239,1) 100%); 
    background: -ms-linear-gradient(top, rgba(197,212,237,1) 0%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 60%,rgba(203,217,239,1) 100%); 
    background: linear-gradient(to bottom, rgba(197,212,237,1) 0%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 43%,rgba(92,151,224,1) 60%,rgba(203,217,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5d4ed', endColorstr='#cbd9ef',GradientType=0 ); 
}

#header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
	color: white;
 }

.navcolor a {
	text-decoration: none;
}

.navcolor a:visited { 
	color: #FFF;
}

.navcolor a:hover {
	color:black;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid white;
	background-color: #FFF;
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		border-bottom: 0;
		background: 0 0;
	}
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}
 
.navbar-brand {
	font-family: 'Raleway';
    font-size: 18.5px;
}

.pic{
	margin-top: 2px;
}

.con{
	text-align: center;
	font-family:'Passion One', sans-serif;
	padding-top: 30px;
    font-size: 42px;
}

.collegeinfo{
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-family: 'Raleway'sans-serif;
    font-size: 38px;
    color: #0074D9;

}
.gmail{
	color: red;
	padding-top: 42px;
	padding-bottom: 45px;
	font-size: 20px;

}

.dabot{
	text-align: center;
	padding-top: 42px;
	padding-bottom: 45px;
}

.fuck{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.dav:hover,
.fuck:hover{
	color: black;
	text-decoration: none;
}

.dav{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
}

.contactdiv{
	text-align: center;
}

.nycsky{
position: center;
padding-top: 20px;
padding-bottom: 25px;
padding-left: 180px;
}

.page-scroll {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.copycent{
 font-family: 'Lato', sans-serif;
 text-align: center;
 font-size: 13.5px;
}

}
.Godwork{
font-family: 'Iceland', sans-serif;
text-align: center;
padding-top: 300px;
font-size: 60px;

}

p{
	font-size: 25px;
	font-family: 'Iceland', sans-serif;
	color: black;

} /*#c6e2ff*/

.bio{
	font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
}

.wtfprob{
    text-align: center;

}
.imagehead{
    text-align: center;
    padding-bottom: 30px;
}
.nigga{
      font-family: 'Titillium Web', sans-serif;

/* PUT ON HOLD 
h2 {
	font-family: 'GT-Walsheim-Regular', 'Helvetica', sans-serif;
	font-size: 36px;
	line-height: 1.3em;
	letter-spacing: 1pt;
}
.intro .container {
	margin-top: 180px;
}
.intro img {
	max-width: 75px;
	margin-bottom: 30px;
}
.copy .col-md-4.mailing-list p {
	margin-bottom: 10px;
}
.footer {
	padding-top: 10%
}
input[type="email"] {
  display: block;
  text-align: center;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #0033cc ;
  color: #0033cc ;
  width: 100%;
  padding: 10px;
button:active {
  background-color: #0033cc ;
  color: #fff;
  outline: 0;
}
form {
	margin-bottom: 50px;
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
   color: #7591e4;
}
:-moz-placeholder { 
   color: #7591e4;  
}
::-moz-placeholder {  
   color: #7591e4;  
}
:-ms-input-placeholder {  
   color: #7591e4;  
}
;
	margin: 0 auto;
}
@media (max-width: 700px) {
	.intro .container {
		margin-top: 20vh;
	}
	.header {
		height: 450px;
	}
	.logo {
		right: 16%;
		left: 16%;
		width: auto; 
		margin-left: 0; 
	}
	h1 {
		font-size: 42px;
	}
	.footer {
		padding-bottom: 20px;
	}
}
@media (max-width: 400px) {
	.footer img {
		max-height: inherit;
		float: left;
		margin-top: 10px;
		margin-right: 0;
		width: 33%;
	}
}
.intro .col-md-4 {
	background-color: #fff;
	margin-top: 20px;
}
.intro .col-md-8 hr {
	margin: 0;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #0033cc;
}

.intro .col-md-8 h1, h2 {
	padding: none;
}

.copy .row {
	margin-top: 50px;
}
*/

