/* I NEED THIS */

.header { 
	width: 100%;
	height: 50%;
	background-image: url(fishtable.jpg); 
	background-color: #BFC7E0;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}

.meme{
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-decoration: none;
}

.line3{
    text-align: center;
    color: #0000cc;
    font-size: 25px;
    padding-bottom: 20px;
}
.line4{
    text-align: center;
    color: #000080;
    font-size: 25px;
    padding-bottom: 20px;
}
.email{
	color: black;

}

.quote{
	text-align: center;
	font-size: 50px;
	padding-top: 60px;
	padding-bottom: 20px;
}

.nyctop1{
	max-width: 1024px;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 45px;
	padding-top: 45px;
}

.textcollege{
    font-family: 'Raleway'. sans-serif;
    font-size: 18px;

}
.listcoll{
    font-family: 'Titillium Web', sans-serif;
    padding-left: 15px;
}
.un,
.random{
	padding-top: 25px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 45px;
} 

.green,
.angreen{
	color:green;

}
.yellow{
	color:yellow;
}

.redh{
	color:red;
}

.topdawg{

background: rgb(133,174,178); /* Old browsers */
background: -moz-linear-gradient(top, rgba(133,174,178,1) 0%, rgba(53,173,204,1) 41%, rgba(122,138,191,1) 73%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(133,174,178,1) 0%,rgba(53,173,204,1) 41%,rgba(122,138,191,1) 73%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(133,174,178,1) 0%,rgba(53,173,204,1) 41%,rgba(122,138,191,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85aeb2', endColorstr='#7a8abf',GradientType=0 );
}

/*Use first gradient on from first site*/

#header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
	color: white;
 }

.navcolor a {
	text-decoration: none;
}

.navcolor a:visited { 
	color: #FFF;
}

.navcolor a:hover {
	color:black;
}

.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid white;
	background-color: #FFF;
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		border-bottom: 0;
		background: 0 0;
	}
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}
 
.navbar-brand {
	font-family: 'Raleway';
    font-size: 18.5px;
}

.pic{
	margin-top: 2px;
}

.con{
	text-align: center;
	font-family:'Passion One', sans-serif;
	padding-top: 30px;
    font-size: 42px;
}

.collegeinfo{
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-family: 'Raleway'sans-serif;
    font-size: 38px;
    color: black;
 

}
.gmail{
	color: red;
	padding-top: 42px;
	padding-bottom: 45px;
	font-size: 20px;

}

.dabot{
	text-align: center;
	padding-top: 42px;
	padding-bottom: 45px;
}

.fuck{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.dav:hover,
.fuck:hover{
	color: black;
	text-decoration: none;
}

.dav{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
}

.contactdiv{
	text-align: center;
}

.nycsky{
position: center;
padding-top: 20px;
padding-bottom: 25px;
padding-left: 180px;
}

.page-scroll {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.copycent{
 font-family: 'Lato', sans-serif;
 text-align: center;
 font-size: 13.5px;
}

}
.Godwork{
font-family: 'Iceland', sans-serif;
text-align: center;
padding-top: 300px;
font-size: 60px;

}

p{
	font-size: 30px;
	font-family: 'Iceland', sans-serif;
	color: black;
	text-decoration: none;
	text-align: center;

} /*#c6e2ff*/

.basic{
    font-size: 40px;
    text-align: center;
	font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}


.imagehead{
    text-align: center;
    padding-bottom: 30px;
}
.nigga{
      font-family: 'Titillium Web', sans-serif;

