.opening{
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
	padding-left: 25%;
	padding-top: 14%;
}

.textdetails{
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	padding-left: 25%;
	padding-bottom: 7%;
	color: black;
}

.textdetails2{
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	padding-top: 70%;
	padding-left: 25%;
	color: black;
}