.textaboutme{
	font-family: 'Rock Salt', sans-serif;
	font-size: 35px;
	text-align: center;
}

.aboutme{
	background-color: #c3c388;
	padding-top: 2%;
	padding-bottom: 5%;
}

.aboutmeinfo{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.picframe{
	text-align: center;
	padding-top: 30px;
}

.imagehead{
    text-align: center;
    padding-bottom: 30px;
}

.angreen{
	color:green;

}

.redh{
	color:red;
}