/*css media queries*/
.header { 
	width: 100%;
	height: 50%;
	background-color: #BFC7E0;
	padding-left: 0px;	 
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	overflow: hidden;
}
#header{
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	color: white;
}

/*Parallax*/
.parallax{
	background:url(Rest.jpg) repeat fixed;
	background-size: 100%;
	background-size: cover;
    background-position: center;
}
.parallax-inner{
	padding-top: 20%;
	padding-bottom: 25%;
}

/*Text*/
.picframe{
	text-align: center;
	padding-top: 30px;
}
.textaboutANI{
	font-size: 48px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	z-index: 2;
	text-align: center;
	padding-top: 20px;
	-webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.textabout{
	font-size: 48px;
	font-family: 'Orbitron', sans-serif;
	color: white;
	z-index: 2;
	text-align: center;
	padding-top: 20px;
}
.textaboutme{
	font-family: 'Rock Salt', sans-serif;
	font-size: 35px;
	text-align: center;
}
.aboutme{
	background-color: #c3c388;
	padding-top: 2%;
	padding-bottom: 5%;
}
.aboutmetoo{
	background-color: #ddddbb;
	padding-top: 2%;
	padding-bottom: 5%;
}
.aboutmethree{
	background-color: #c3c388;
	padding-top: 2%;
	padding-bottom: 8%;
}
.aboutmeinfo{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.bs{
      font-family: 'Titillium Web', sans-serif;
      font-size: 22px;
}


/*Colors for icons?*/
.redh{
	color:red;
}
.gmail{
	color: red;
	padding-top: 8px;
}

.green,
.angreen{
	color:green;

}
.imagehead{
    text-align: center;
    padding-bottom: 30px;
}

.projinfo{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	padding-top: 3%;
	padding-bottom: 6%;
	text-align: center;
	line-height: 50px;
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* BUTTONS! */
.navcolor a {
	text-decoration: none;
}
.navcolor a:visited { 
	color: white;
}
.navcolor a:hover {
	color: gray;
}
.navbar-custom {
	margin-bottom: 0;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom a {
	color: white;
}
.navbar-brand {
	font-family: 'Raleway';
    font-size: 18px;
}
.page-scroll {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;  
}
@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		border-bottom: 0;
		background: 0 0;
	}
